body {
	
	font-family: Century Gothic, Arial, Sans-Serif; 
}

/* Overrides the container to change it's background color */
.inside{
	background-color: black;
}

/* Overides everything to get to the font */
* {
	color: white;
}

/* Overrides the button class */
.button {
	color: black;
	background-color: white;
}